<form (ngSubmit)="onSubmit(createForm)" #createForm="ngForm">
  <div class="form-group">
    <label for="name">Employee First Name</label>
    <input
      type="text"
      id="first_name"
      name="first_name"
      class="form-control"
      ngModel
      required
      style="width: 400px"/>
  </div>
  <div class="form-group">
    <label for="last">Employee Last Name</label>
    <input
      type="text"
      id="last_name"
      name="last_name"
      class="form-control"
      ngModel
      required
      style="width: 400px"/>
  </div>
   <div class="form-group">
    <label for="last">Email</label>
    <input
      type="text"
      id="email"
      name="email"
      class="form-control"
      ngModel
      required
      style="width: 400px"/>
  </div>
  <button [disabled]="createForm.invalid" class="btn btn-primary" type="submit">Create</button>
</form>

